@use "../../styles/partials/global.scss" as *;
@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 5%;

  &__button {
    border-radius: 3.125rem;
    border: 0.1875rem solid #1e6655;
    display: flex;
    width: 7.2rem;
    align-items: center;
    background: transparent;
    justify-content: space-evenly;
    color: #1e6655;
    font-weight: 700;
    // cursor: pointer;

    &:hover {
      background-color: #1e6655;
      color: #ffffff;

      .header__button--image {
        filter: brightness(0) invert(1);
      }
    }

    &--image {
      width: 1.3rem;
    }
  }
}
