@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography";

.app {
  background-color: #effaf7;
  min-height: 100vh;
  padding-right: 3%;
  padding-left: 3%;
  color: #0c1e1a;

  &__content {
    @include desktop {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.brand {
  font-size: 2rem;
  line-height: 2.375rem;
  font-weight: 400;
}
