@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;

.app {
  background-color: #effaf7;
  min-height: 100vh;
  padding-right: 3%;
  padding-left: 3%;
}

.wordmark__text {
  font-size: 2rem;
  line-height: 2.375rem;
  font-weight: 400;
  font-family: "Newsreader Regular";
}
