@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.photograph {
  border: 1px solid #b7cec9;
  background-color: #e4efec;
  border-radius: 0.5rem;

  @include tablet {
    width: 45%;

    @include desktop {
      width: 32%;
    }
  }

  &__image-container {
    position: relative;
  }

  &__photographer {
    border-top-left-radius: 0.75rem;
    color: #0c1e1a;
    padding: 0.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #e4efec;
    font-weight: 900;
    font-family: "Outfit";
  }

  &__tag {
    background-color: #ffffff;
    padding: 0.5rem 0.5rem;
    border-radius: 0.75rem;
    font-weight: 900;
    color: #0c1e1a;
    font-size: 0.75rem;
    align-items: center;
    border: 0.125rem solid #b7cec9;
    font-family: "Outfit";
  }

  &__tag-list {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__image {
    width: 100%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }
}
