@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.gallery {
  display: flex;
  gap: 1rem;
  padding-bottom: 4rem;
  flex-wrap: wrap;

  @include tablet {
    justify-content: space-around;
  }

  @include desktop {
    margin-right: 0%;

    &.gallery--filtered {
      margin-right: 28%;
    }
  }
}
