@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.gallery {
  display: flex;
  flex-direction: column;
  gap: 1.45rem;
  padding-bottom: 4rem;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
