@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.footer {
  padding-top: 2rem;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__nav {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }

  &__menu {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      padding-top: 0;
      width: 30%;
      position: relative;
      left: 17rem;
    }
  }

  &__link {
    font-family: "Outfit";
    font-weight: 800;
    color: black;
    text-decoration: none;
  }

  &__social {
    padding: 2rem 0;
    display: flex;
    width: 20vh;
    justify-content: space-between;

    @include tablet {
      width: 20vh;
      gap: 2rem;
    }
  }

  &__legal {
    display: flex;
    align-items: center;
    color: #b7cec9;
    font-size: 0.9375rem;
    padding-bottom: 2rem;

    @include tablet {
      width: 100%;
    }
  }

  &__terms {
    display: flex;
    gap: 0.5rem;
    margin-left: 1rem;
  }
}
